bin/
obj/
.vs/
*.user
*.pdb
*.cache
*.DS_Store
client.log
client.exe
server/server
server/client.o
server/game.o
server/log.o
server/main.o
server/room.o
server/utils.o
server/config.o
server/server.exe
*.o
